@import "variables";



.country-select {
  button {
    all: unset;
  }

  .country-select__trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    border: $border;
    padding: 0 15px;
    font-size: 0.875rem;
    line-height: 1;
    height: 30px;
    gap: 5px;
    background-color: $white;
    color: $text-color;
    font-family: $font;

    &:focus {
      box-shadow: 0 0 0 2px $text-color;
    }

    &[data-placeholder] {
      font-family: $font;
      color: $text-color;
    }

    &[data-state="open"] {
      .country-select__icon {
        transform: rotate(180deg);
      }
    }

    .country-select__icon {
      color: $text-color;
      transition: transform 200ms ease-in-out;
    }

    .country-select__trigger__value {
      display: flex;
      align-items: center;

      img {
        width: 14px;
        height: 14px;
      }
    }

    span[role="img"],
    img {
      margin-right: 8px;
    }
  }
}

// This class is outside the country-select class 
// because it's rendered in a portal
.country-select__content {
  position: absolute;
  width: 230px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: -5px;
  overflow: hidden;
  background-color: $white;
  border-radius: $border-radius;
  border: $border;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  .country-select__viewport {
    margin-top: 5px;
  }

  .country-select__item {
    font-size: 0.875rem;
    line-height: 1;
    font-family: $font;
    color: $text-color;
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0 10px 0 10px;
    position: relative;
    margin-bottom: 5px;

    &[data-disabled] {
      color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }

    &[data-highlighted] {
      outline: none;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &[data-state="checked"] {
      background-color: $highlight;
    }

    .country-select__item__wrapper {
      width: 100%;
      display: flex;
      overflow: hidden;
      position: relative;
      justify-content: space-between;

      .country-select__item__wrapper__texts {
        max-width: 20ch;
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 14px;
          height: 14px;
        }

        .country-select__item__text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 50ch;
        }
      }

      .country-select__item__number {
        color: rgba(0, 0, 0, 0.52);
      }

      span {
        .fi {
          margin-right: 5px;
        }
      }
    }

    .country-select__item__indicator {
      position: absolute;
      left: 0;
      width: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  .country-select__scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: $text-color;
    cursor: default;
  }
}