$font: 'Arimo', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$text-color: #333333;
$placeholder-color: #ADADAD;
$white: #ffffff;
$black: #000000;
$highlight: #FFDBB3;
$border: 1px solid rgba(0, 0, 0, 0.2);
$border-radius: 3px;